name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test-back:
    name: Tests backend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app/back   # <= IMPORTANT
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run unit tests (pytest)
        run: pytest
